<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={ini:settings.charset}" />
<meta http-equiv="x-ua-compatible" content="ie=7" />
<title>快捷登录</title>
{~ui('loader')->js('@jquery')}
</head>
<body>
正在为您转接到登录页面，请稍候...
{$html}
<script type="text/javascript">
$(document).ready(function(){
$('#submitform').submit();
});
</script>
</body>
</html>