<!--{template header}-->
<div class="site-ms__right user_nav">
{~ui('widget')->load()}
</div>
<div class="site-ms__left">
<div class="t_area_out">
<div class="t_area_in">
<script type="text/javascript">  
$(document).ready(function(){
$("#report tr:odd").addClass("odd");
$("#report tr:not(.odd)").hide();
$("#report tr:first-child").show();
$("#report tr.odd").click(function(){
$(this).next("tr").toggle();
$(this).find(".arrow").toggleClass("up");
$("em *").removeAttr("style");
});
});
//jquery 模拟点击打开新窗口
$("a[rel=external]").attr('target', '_blank');
</script>
<ul class="cont">
<div style="float:right;">
<li>分类：</li>
<li class="liL_{$_s1}"><a href="?mod=me&code=coupon">全部</a></li>
<li class="liLine">|</li>
<li class="liL_{$_s2}"><a href="?mod=me&code=coupon&status=0">未使用</a></li>
<li class="liLine">|</li>
<li class="liL_{$_s3}"><a href="?mod=me&code=coupon&status=1">已使用</a></li>
<li class="liLine">|</li>
<li class="liL_{$_s4}"><a href="?mod=me&code=coupon&status=2">已过期</a></li>
</div>
</ul>
<div class="cont">
<table id="report">
<tr>
<th style="text-align:left">{TUANGOU_STR}券编号</th>
<th style="text-align:left">产品名称/订单编号</th>
<th>使用状态</th>
<th style="text-align:left">操作</th>
</tr>
<!--{loop $ticket_all $i $value}-->
<tr>
<td width="30%" style="padding-left:7px;">
<span>{$value['number']}<br/>密码：{$value['password']}</span></td>
<td width="30%"  style="padding-left:7px;">{$value['flag']}<br/>订单号：{$value['orderid']}</td>
<td width="30%" style="text-align:center;">{if $value['status']==TICK_STA_Unused}<img src="templates/default/images/icon-xinxi.png" /> 未使用{elseif $value['status']==TICK_STA_Used}<img src="templates/default/images/icon-zhengque.png" /> 已使用{elseif $value['status']==TICK_STA_Invalid}<img src="templates/default/images/icon-jinzhi.png" /> 已作废{else}<img src="templates/default/images/icon-gengxin.png" /> 已过期{/if}</td>
<td width="10%" style="padding-left:10px; cursor:pointer;">查看详情</td>
</tr>
<tr>
<td colspan="4" style="padding:0;">
<div class="order_info">
<h4>优惠详情</h4>
<p style="text-align:left; line-height:25px; overflow:hidden;margin: 0;">
<em>{$value['intro']}</em><br/>
<span style="float:left;">
{TUANGOU_STR}券过期时间：<font color="#f76120">{echo date('Y-m-d', $value['perioddate']);}</font>
&nbsp;&nbsp;<font color="#009933">({echo DateLess($value['perioddate']-time(), 2);} )</font>
</span>
<span style="float: right;">
<a href="?mod=me&code=printticket&id={$value['ticketid']}">打印{TUANGOU_STR}券</a>
{if ini('coupon.c2phone.enabled')} - <a href="?mod=apiz&code=c2phone&cid={$value['ticketid']}">发送到手机</a>{/if}
</span>
{if $value['status']==1}<br><span style="float:left;">{TUANGOU_STR}券使用时间：<font color="blue">$value['usetime']</font></span>{/if}
</p>
</div>
</td>
</tr>
<!--{/loop}-->
</table>
<div class="pagem product_list_pager">{~page_moyo()}</div>
</div>
</div>
</div>
</div>
</div>
<!--{template footer}-->
