<!--{template header}-->
<!--{~ui('loader')->css('seller')}-->
<div class="site-ms__left"> 
{~ui('loader')->js('@time.lesser')}
<!--{~ui('loader')->css('comment')}-->
<!--{~ui('loader')->js('@comment.ops')}-->
<div class="t_area_out">
<div class="shopInt">
<div class="shopName"><a href="?mod=seller&code=view&id={$seller['id']}" target="_blank">{$seller['sellername']}</a></div>
<div class="deal-tile__cover">{eval ui('iimager')->seller_multis($seller['id'], $seller['imgs'])}</div>
<div class="deal-tile__con">
<div class="rate-status">用户评分：<i>{$commentdata['average']}</i>分</div>
<dl class="shopInt_info">
<p><em>联系电话：</em>{$seller[sellerphone]}</p>
<p><em>详细地址：</em>{$seller[selleraddress]}</p>
<p><em>人均消费：</em>￥{$seller[price_avg]}元</p>
<p><em>营业时间：</em>{$seller[trade_time]}</p>
</dl>
</div>
</div>
</div>
<!--{if false != ($data = logic('product')->GetOwnerList($seller['id'],5))}-->
<div class="t_area_out">
<div class="t_area_in">
<h5 class="detail-centit">
商家发布的{TUANGOU_STR}
<div class="detail-centit_sub">
<span class="sub_sale">已售</span>
<span class="sub_value_cn">原价</span>
<span class="sub_price">{TUANGOU_STR}价</span>
</div>
</h5>
<!--{loop $data $product2}-->
<p class="otherBiz">
<a target="_blank" href="?view={$product2['id']}">
<span class="biz_title">{$product2['name']}</span>
<span class="price">&yen;{$product2['nowprice']}</span>
<span class="value_cn">&yen;{$product2['price']}</span>
<span id="tuanState" class="sale">{$product2['sells_count']}</span>
</a>
</p>
<!--{/loop}-->
</div>
</div>
<!--{/if}-->
<div class="content-navbar" id="content-navbar-id">
<ul>
{if !meta('p_hs_'.$product['id'])}
<li class="name-cur"><span id="name-address">商家介绍</span></li>
<script type="text/javascript">
$("#name-address").click(function() {
$(this).parent("li").nextAll().removeClass("name-cur");
$(this).parent("li").addClass("name-cur");
document.getElementById("name-address-block").scrollIntoView();
})
</script>
{/if}
<li {if meta('p_hs_'.$product['id'])}class="name-cur"{/if}><span id="name-product-detail" >商家介绍</span></li>
<li><span id="name-comment" >用户评价（共{$commentdata['count']}条）</span></li>
</ul>
<script type="text/javascript">
if(!($.browser.msie && $.browser.version<7)){
document.write('<script type="text/javascript" src="./js/side_follow.js"><'+'/script>');
}
$("#name-product-detail").click(function(){
$(this).parent("li").nextAll().removeClass("name-cur");
$(this).parent("li").prevAll().removeClass("name-cur");
$(this).parent("li").addClass("name-cur");
document.getElementById("name-product-detail-block").scrollIntoView();
});
$("#name-comment").click(function(){
$(this).parent("li").nextAll().removeClass("name-cur");
$(this).parent("li").prevAll().removeClass("name-cur");
$(this).parent("li").addClass("name-cur");
document.getElementById("name-comment-block").scrollIntoView();
})
</script>            
<div style="clear:both;"></div>
</div>
<script type="text/javascript">
if(!($.browser.msie && $.browser.version<7)){
$("#content-navbar-id").fixbox({distanceToBottom:200,threshold:8});
}
</script>
<div class="mainbox">
<div class="main">
{~ui('loader')->js('@product.detail')}
<a class="content-title" id="name-address-block">
<span>商家地址</span>
</a>
<div class="position-wrapper">
<div class="address-list">
{eval $sellermap = explode(',', $seller[sellermap]);}
{if $sellermap[0]!=''}
<script type="text/javascript" src="http://api.go2map.com/maps/js/api_v2.0.js"></script>
<script type="text/javascript"> 
var map, marker;
function map_initialize()
{
var location = new sogou.maps.Point('{$sellermap[0]}', '{$sellermap[1]}');
var mapOptions = {
zoom: parseInt('{$sellermap[2]}'),
center: location,
mapTypeId: sogou.maps.MapTypeId.ROADMAP,
mapControl: false
};
map = new sogou.maps.Map(document.getElementById("map_canvas"), mapOptions);
marker = new sogou.maps.Marker({
map: map,
position: location,
title: "{$seller['sellername']}"
});
}
</script>
<div class="left-content">
<div id="map_canvas">
<div style="padding:1em; color:gray;">正在载入...</div>
</div>
<a id="img1" class="img2"><div class="map_big">查看完整地图</div></a>
</div>
{/if}
<div class="biz-wrapper" style="float:left;">
<h1>{$seller['sellername']}</h1>
<ul style="margin-top:15px;font-size:12px;">
<li class="com_adr">
<!--{if $seller[selleraddress]}--><div><strong>地址：</strong>{$seller['selleraddress']}</div><!--{/if}-->
<!--{if $seller[sellerphone]}--><div><strong>电话：</strong>{$seller['sellerphone']}</div><!--{/if}-->
<!--{if $seller[trade_time]}--><div><strong>营业时间：</strong>{$seller[trade_time]}</div><!--{/if}-->
<a href="{$seller['sellerurl']}" target="_blank">{$seller['sellerurl']}</a>
</li>
</ul>
</div>
{if $sellermap[0]!=''}
<script type="text/javascript">
$(document).ready(function() {
$("#img1").click(function() {
window.open('http://map.sogou.com/#c={$sellermap[0]},{$sellermap[1]},{$sellermap[2]}');
});
<!--{if $sellermap[0]!=''}-->
map_initialize();
<!--{/if}-->
});
</script>
{/if}
</div>
<div style="clear:both;"></div>
</div>
<a class="content-title" id="name-product-detail-block">
<span>商家介绍</span>
</a>
<div id="product_detail_area">
<h4>【商家介绍】</h4>
<Script type="text/javascript">
$("#t_detail_txt img").each(function(){
if($(this).width() > $(this).parent().width()) {
$(this).width("100%");
}});
$(function(){ 
$('.deal_comment_img li').hover(function() {
$(this).addClass('on');
var wl = $(this).find('img').attr('width');
if (wl < 190) {
$(this).find('.in').css('left', '0')
} else {
$(this).find('.in').css('left', -wl / 4)
}
},
function() {
$(this).animate({
height: "100px"
},
100).removeClass('on');
$(this).find('.in').css('left', '0')
});
})
</Script>
<div id="product_detail_cnt" class="product_detail_cnt">{$seller['content']}</div>
</div>
<a class="content-title" id="name-comment-block">
<span>用户评价（综合评分：{$commentdata['average']}分；共有评论：{$commentdata['count']}条）</span>
</a>
<div id="comment_area">
<h4>【用户评价】</h4>
<dl class="comment-txt">
{loop $commentdata['comment'] $comment}
<dd>
<p>{$comment['content']}</p>
{if $comment['img']}
<ul class="deal_comment_img">
<li>
<div class="in">
<img src="{echo imager($comment['img'], IMG_Original)}">
</div>
</li>
</ul>
{/if}
{if $comment['reply']}
<div class="replybg"><p class="reply">商家回复：{$comment['reply']}</p></div>
{/if}
<div class="comment-info">
<ul class="comment-info__rating">
<li style="z-index:0; display: list-item; width:{echo $comment['score'] * 20}%"></li>
</ul>
<span class="comment-info__user-time">
<span class="name">{if $comment['anonymous']}{echo substr_replace($comment['user_name'],'**',2,2)}{else}{$comment['user_name']}{/if}</span>
<span class="date">{echo date('Y-m-d H:i:s', $comment['timestamp_update'])}</span>
</span>
</div>
</dd>
{/loop}
</dl>
<div style=" padding:15px 15px 0 15px;" class="page product_list_pager">
{~page_moyo()}
</div>
</div>
</div>
</div>
</div>
<div class="site-ms__right">
<!--{~ui('widget')->load('index_detail')}-->
</div>
</div>
<!--{template footer}-->
