<!--{template header}-->
<div class="site-ms__right user_nav">
<!--{if $sellerid > 0}-->{template seller_menu}	<!--{/if}-->
{~ui('widget')->load()}
</div>
<div class="site-ms__left">
<style>.field label{ width:auto;}.hint{ clear:inherit; margin-left:15px;}</style>
<div class="t_area_out">
<div class="t_area_in">
<p class="cur_title">{TUANGOU_STR}券查询</p>
<div class="sect">
<form action="{$action}" method="post" enctype="multipart/form-data">
<div class="cont">
<div class="field">
<label>{TUANGOU_STR}券编号：</label>
<input type="text" id="number" name="number" value="{$number}" class="f_input"  size="30">
<span id="status" class="hint">请输入{TUANGOU_STR}券编号</span>
</div>
<div class="field">
<label>{TUANGOU_STR}券密码：</label>
<input type="text" id="password" name="password" class="f_input"  size="30">
</div>
<div class="field">
<label style="visibility:hidden;">{TUANGOU_STR}券密码：</label>
<input type="button" id="btn_tickCheck" class="btn btn-small" name='submit'  value="查询">
{if $sellerid > 0}
<input type="button" id="btn_tickUse" class="btn btn-primary btn-small" name='submit'  value="消费">
<span id="tips_product_len"></span>
{/if}
</div>
<div class="field">
<div id="ck_product_name"></div>
<span id="moreticket"></span>
</div>
</div>
<div class="cont">
<div class="field">
{eval $wap_url = ini('settings.site_url').rewrite('/index.php?mod=wap')}
<br/>
您也可以通过手机访问 <a href="{$wap_url}" style="font-weight:bold;">{$wap_url}</a> 进行{TUANGOU_STR}券验证
</div>
</div>
</form>
</div>
</div>
</div>
</div> 
<script type="text/javascript">
var ms_url = '{$action}';var sellerid = {$sellerid};
function tickCheck()
{
var num = $('#number').val();
if (num.length != 9 && num.length != 12 && num.length != 16)
{
status('<font class="R">请输入正确的{TUANGOU_STR}券编号！</font>');status('','moreticket');
return;
}
status('正在查询中...');
$.get(ms_url+'&do=check&number='+$('#number').val()+'&timer='+(new Date()).getTime(), function(d){
var data = d.split('|||');status(data[0]);if(data[1] && sellerid > 0){status(data[1],'moreticket');}else{status('','moreticket');}
});
}
function tickMakeUse()
{
var num = $('#number').val();
if (num.length != 9 && num.length != 12 && num.length != 16)
{
status('<font class="R">请输入正确的{TUANGOU_STR}券编号！</font>');
return;
}
var password = $('#password').val();
if (password.length != 3 && password.length != 6)
{
status('<font color="red">请输入该{TUANGOU_STR}券的正确密码！</font>');
return;
}
if (!confirm('您确认要消费此{TUANGOU_STR}券吗？')) return;
status('正在登记中...');
var str = '';
$("input:checkbox[name=morecoupons]:checked'").each(function(){
str += $(this).val()+",";
});
str = str.substring(0,str.length-1);
$.get(ms_url+'&do=makeuse&number='+$('#number').val()+'&password='+$('#password').val()+'&morecoupon='+str+'&timer='+(new Date()).getTime(), function(d){
var data = d.split('|||');status(data[0]);if(data[1]){status('','moreticket');}
});
}
function tickGetProductName()
{
var num = $('#number').val();
if (num.length != 9 && num.length != 12 && num.length != 16)
{
return;
}
$('#ck_product_name').html('正在查询产品名称...');
$.get(ms_url+'&do=getname&number='+num+'&timer='+(new Date()).getTime(), function(data){
$('#ck_product_name').hide();
$('#ck_product_name').html(data);
PNDiv_Position_Show();
});
}
function status(html, divid)
{
var divid = 'undefined' == typeof(divid) ? 'status' : divid;
$('#'+divid).html(html);
}
$(document).ready(function(){
//$('#btn_tickCheck').bind('click', function(){tickCheck()});
$('#btn_tickUse').bind('click', function(){tickMakeUse()});
$('#number').bind('blur', function(){tickGetProductName();tickCheck();});
});
function PNDiv_Position_Show()
{
var iH = $('#ck_product_name').outerHeight();
var iT = $('#btn_tickCheck').position().top-iH+90+'px';
var iL = $('#btn_tickCheck').position().left+'px';
$('#ck_product_name').css('top', iT);
$('#ck_product_name,#moreticket').css('left', iL);
$('#ck_product_name,#moreticket').show();
}
{if $number}
tickGetProductName();tickCheck();
{/if}
</script>
</div>
<!--{template footer}-->