<!--{template @admin/header}-->
{~ui('loader')->js('#admin/js/sdb.parser')}
<table cellspacing="1" cellpadding="4" width="100%" align="center" class="tableborder"> <tr class="header"> <td colspan="2">调试状态</td> </tr> <tr> <td class="td_title" width="16%">前台调试状态：</td> <td> <font class="lgc" src="index~debugSwitch@dev"></font> </td> </tr> <tr> <td class="td_title">后台调试状态：</td> <td> <font class="lgc" src="admin~debugSwitch@dev"></font> </td> </tr> <tr class="tips"> <td colspan="2">
* 网站运行期间，建议关闭调试状态！
</td> </tr> </table>
{template @admin/footer}