<html> <head> <title>天天团购</title> <meta charset="gb2312" content="text/html;" http-equiv="Content-Type"/> <script language="javascript">
function switchSysBar(){
if (parent.document.getElementById('attachucp').cols=="160,10,*"){
document.getElementById('leftbar').style.display="";
parent.document.getElementById('attachucp').cols="0,10,*";
}
else{
parent.document.getElementById('attachucp').cols="160,10,*";
document.getElementById('leftbar').style.display="none"
}
}
function load(){
if (parent.document.getElementById('attachucp').cols=="0,10,*"){
document.getElementById('leftbar').style.display="";
}
}
</script> </head> <body marginwidth="0" marginheight="0" bgcolor="#e2e2e2" onLoad="load()" topmargin="0" leftmargin="0"> <center> <table height="100%" cellspacing="0" cellpadding="0" border="0" width="100%"> <tbody> <tr> <td bgcolor="#e2e2e2" width="1"><img height="1" width="1" src="../images/ccc.gif"/> </td> <td id="leftbar" bgcolor="#e2e2e2" style="display: none;"><a onClick="switchSysBar()" href="javascript:void(0);"> <img height="90" border="0" width="9" title="展开左侧菜单" src="../images/pic24.gif"/> </a> </td> <td id="rightbar" bgcolor="#e2e2e2"><a onClick="switchSysBar()" href="javascript:void(0);"> <img height="90" border="0" width="9" title="隐藏左侧菜单" src="../images/pic23.gif"/> </a> </td> </tr> </tbody> </table> </center> </body> </html>