.imin {
	width: 50px;
	margin-left: 12px;
}
.ilng {
	width: 200px;
	margin-left: 12px;
}
.iradio {
	margin-left: 12px;
}
textarea {
	width: 280px;
	height: 70px;
}
.regiond_no_area {
	display: none;
}
.float_right {
	float: right;
}
#region_selector {
	padding: 10px;
	position: absolute;
	background: #fff;
	border: 2px solid #000;
	display: none;
}
#regiond_list {
	list-style: decimal;
	width: 400px;
}
#regiond_list li {
	padding: 6px;
	border: 2px solid #99baf3;
}
#ex_region_tpl {
	display: none;
}
