<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={ini:settings.charset}" />
<title>出错啦</title>
<style type="text/css">
.box {
width: 600px;
margin: 0 auto;
border: 3px solid #c8c8c8;
text-align: center;
padding: 30px;
margin-top: 100px;
}
</style>
</head>
<body>
<div class="box">
{$text}{~"\n"}
<p>
<a href="#void" onclick="javascript:history.go(-1);return false;">返回上一页</a>
</p>
</div>
</body>
</html>