/*模板二 糯米风格*/
body {
	background: #f9f9f9;
}
a:hover, .exp .pp_channels .sub-list a:hover {
	color: #0f71c7;
}
.f_input {
	border: 1px solid #ccc;
}
/*左上角*/
.site-mast__user-nav ul li a:hover {
	color: #ff668f;
}
/*右上角*/
.site-mast__user-w .dropdown-open {
	color: #ff668f;
}
.site-mast__user-w .dropdown-menu a:hover {
	color: #ff4d88;
	background: #f5f5f5;
	border-bottom: none;
}
/* 顶部城市选择 */
#show_provinces {
	border-color: #ff668f;
}
/* 顶部输入框 */
.search-box .search-box__input {
	border-color: #ff668f;
	border-left: none;
}
.select_sel {
	border-color: #ff668f;
}
.search-box .search-box__button, .search-box .search-box__button:hover {
	background: #ff668f;
	border-color: #ff668f;
}
/* 主导航 */
.nav_bar {
	background: #ff668f;
}
.site-mast__site-nav a:hover {
	background-color: #e45078;
	color:#fff;
}
.site-mast__site-nav .current:hover, .site-mast__site-nav .current {
	background-color: #e23263;
}
.site-mast_recentlist {
	border: none;
}
.site-mast_recentlist a.recent_active {
	background: #fff;
}
.recentlist {
	border-color: #ff668f
}
/* 分类筛选 */

.site-fs__cell-son2 {
	background-color: #f5f5f5;
	border-radius: 3px;
	border: none;
}
.site-fs__cell-son1 {
	padding: 3px;
}
.site-fs__cell .selected {
	background: #999;
}
.commitment {
	width: 143px;
	height: 68px;
	background: url(../commitment.png) no-repeat;
	margin-top: 0;
	margin-left: 40px;
}
/* 内容主体*/
.site-ms__left h1 {
	color: #ff668f;
}
/* 产品列表 */
.deal-tile__title a:hover {
	color: #ff668f;
}
.deal-tile__title td span {
	color: #fa5d82;
}
.deal-tile__detail2 {
	background: #fbfcfd;
	border: 1px solid #e1ebf0;
}
.deal-tile__detail2 .price {
	color: #ff205e;
}
.product_item_a:hover{border-color: #ff668f;}
/* 产品详情 */
.t_area_out1 {
	border: 3px #fa5d82 solid;
}
.main h4 {
	background: url(../images/detial_icon.png) no-repeat;
	color: #ec3a6a;
}
.content-navbar ul li a {
	color: #fa5d82;
}
.content-navbar__item--current {
	border-top-color: #fa5d82;
}
.deal-tile__detail .price {
	color: #ff668f;
}
.time_underway {
	color: #ff4d88;
}
.deal-buy-bottom {
	background: #f1f6f9;
	border-right: 1px solid #dde8ee;
}
.deal-buy-bottom .fl {
	font-size: 32px;
	height: 40px;
	line-height: 40px;
	font-weight: bold;
	color: #ff205e;
	text-shadow: 1px 1px 1px #b7bbbd;
}
.deal-buy-bottom th {
	color: #2f3035;
	font: 12px/1.5 Arial, Tahoma, '宋体', Verdana, STHeiTi, sans-serif;
	font-weight: bold;
}
.deal-buy-bottom td {
	color: #2f3035;
	font: 12px/1.5 Arial, Tahoma, '宋体', Verdana, STHeiTi, sans-serif;
}
/*右侧*/
/* 侧_返利 */
.at_invite {
	background: url(../images/skin_icon.png) 4px -193px no-repeat;
}
/* 侧_其他精彩团购 */
.product_list .name a {
	color: #0b72a4;
}
.product_list .name a:hover {
	text-decoration: underline;
	color: #0b72a4;
}
.product_list .price {
	color: #e30040;
	font-weight: normal;
}
.product_list .b_btn {
	border: 1px #d4d4d4 solid;
	background: #FEF1E3; /* 一些不支持背景渐变的浏览器 */
	background: -moz-linear-gradient(top, #fff, rgba(254, 241, 227, 0.5));
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(rgba(254, 241, 227, 0.5)));
}
.product_list .b_btn:hover {
	border: 1px solid #666;
}
.product_list .b_btn a {
	color: #666;
}
/*分页*/
.product_list_pager a {
	color: #ff4d88;
}
.product_list_pager a:hover {
	border-color: #ff4d88;
}
.product_list_pager .page_current {
	background: #ff4d88;
	border: 1px solid #ff4d88;
}
/* 页面底部 */
.foot {
	border-top: 5px solid #dbdbdb;
	color: #666;
	background: #fff;
}
.ft_bg {
	height: 0;
}
#site-info-w {
	margin-top: 0;
}

/*返回顶部*/
a.goTop {
	width: 60px;
	height: 60px;
	display: block;
	background: url(../images/skin_icon.png) 0 -340px no-repeat;
}
a.goTop:hover {
	width: 60px;
	height: 60px;
	background: url(../images/skin_icon.png) -61px -340px no-repeat;
}
/* 我的团购 */
.ts3_mbtn2 a:hover {
	color: #ff668f;
}
#report td {
	background: #fff;
}
/* 收货地址 */
.address .lrf a {
	background: #ff667f;
	color: #FFF;
	text-shadow: none;
}
.addressbox .hd {
	background: #ff4d88;
}
.addressbox .hd td {
	color: #FFF;
}
/* 文章列表 */
.article_dn, .article_title, .article_author, .article_time {
	background-color: #e7ebea;
}
/* 往期团购 */
.listInfo p i {
	color: #ff4d88;
}
.listInfo p .pro_noprice {
	color: #ff3355;
}
.time_normal {
	background: url(../images/skin_icon.png) 0 -88px no-repeat;
}
/*确认按钮*/
input.formbutton, .save {
	border-color: #357AFF;
	background: #357ADE;
}
/**/
.exp .at_shuzi .R, .exp .quan .ql span, .exp .at_shuzi .red, .exp .sp_member {
	color: #0f71c7;
}
.exp .site-mast__site-cla-main, .exp .pop-panel, .exp .pp_channels .sub-list {
	border-color: #ff668f;
}
.b_btn, .btn-primary {
	background: #ff668f;
	border-color: #ff668f;
}
.b_btn:hover, .btn-primary:hover {
	background: #ff668f;
	border-color: #ff668f;
	opacity: 0.8
}
.countdown_goods .deal-tile__title dl dd, .trailer-img-txt .mr {
	color: #ff205e
}
.site-fs__cell .selected {
	background-color: #999
}

.exp .rating-area .total-score span, .exp .deal-buy-bottom .price, .exp .product_list .price, .exp .time_normal .time_underway, .exp .listInfo p i, .exp .listInfo p .pro_noprice, .exp .consult_list .reply{ color:#0f71c7}