<!--{if MEMBER_ID < 1}-->
{eval 'account' != get('mod') && header('Location: ?mod=account&code=login');}
<!--{else}-->
{eval 
$__member = $this->MemberHandler->MemberFields;
if('seller' == $__member[role_type] && true === INDEX_DEFAULT) header('Location: ?mod=seller&code=manage');
else if(in_array($__member[role_type], array('normal', 'admin')) && true === INDEX_DEFAULT) header('Location: ?mod=me&code=order');
}
<!--{/if}-->
<!doctype html>
<html>
<head>
{~'<base h'.'ref="'.ini('settings.site_url').'/" />'}
<meta http-equiv="Content-Type" content="text/html; charset={ini:settings.charset}" />
<meta http-equiv="X-UA-Compatible" content="Chrome=1,IE=edge" />
<title>{echo ($this->Title != '') ? $this->Title.' - ' : (ini('cplace.cnpre.enabled') ? (logic('misc')->City('name').ini('settings.tuangou_str').' - ') : '')}{ini:settings.site_name}{conf page_title}</title>
<meta name="Keywords" content="{~ini('settings.'.(mocod()=='index.main'?'index_':'').'meta_keywords')}" />
<meta name="Description" content="{~ini('settings.'.(mocod()=='index.main'?'index_':'').'meta_description')}{if $__p = productCurrentView()},{echo strip_tags($__p['intro'])}{/if}" />
<script type="text/javascript">
var thisSiteURL = '{ini:settings.site_url}/';
var tuangou_str = '{ini:settings.tuangou_str}';
</script>
<link rel="shortcut icon" href="favicon.ico" />
<!--{~ui('loader')->css('main')}-->
<!--{~ui('loader')->js('@jquery')}-->
<!--{~ui('loader')->js('@common')}-->
<!--{~ui('loader')->css('meituan')}-->
<!--{~ui('style')->loadCSS()}-->
<!--{~ui('loader')->js('jquery.menu-aim')}-->
<script>
//   $(window).resize(function(){
//         var Bwidth = $(window).width();
//		 if (Bwidth < 1024){
//				$(".exp").addClass("r980");
//		 }else{$(".exp").removeClass("r980");}
//     });
</script>
{if false==DEBUG}
{~ui('loader')->js('@error.clear')}
{/if}
</head>
<body>
<div class="exp">
<div class="header">
<div class="site-mast">
{eval $unms = (ui('style')->allowMulti() ? false : true);}
<div class="site-mast__user-nav">
<!--{if MEMBER_ID > 0}-->
<ul id="mobile-info"{if $unms} style="background:none;"{/if}>
<li class="quan-info__item">
<a href="?mod=list&code=ckticket"><i class="icon icon-quan"></i>{TUANGOU_STR}券查询</a>
</li>
</ul>	
<!--{/if}-->	
<div class="site-mast__user-w" >
<!--{if MEMBER_ID > 0}-->
<script type="text/javascript">
$(document).ready(function(){
if ($(".sp_member").width()>75){
$(".sp_member").width(75) ;}});
</script>
<div class="user-info {if MEMBER_ROLE_TYPE=='normal'}welcom{/if}">
<div class="user-info__name">
<span style="float:left;">欢迎您，</span>
<span class="sp_member">{MEMBER_NAME}</span>
</div>
<div class="user-info__logout">
<a href="?mod=account&code=logout">[退出]</a>            
</div>
<em>|</em>
</div>
{if admin_priv('index') === true}
<div class="user-info" >
<a href="admin.php" target="_blank">管理后台</a>
<em>|</em>
</div>
{/if} 
{if MEMBER_ROLE_TYPE=='seller' || MEMBER_ID == 1}
<div class="user-info" >
<a href="?mod=seller&code=manage">商家管理</a>
<em>|</em>
</div>
{/if} 
<div class="user-info">
<div class="dropdown">
我的{TUANGOU_STR}<i class="tri"></i>
<div class="dropdown-menu">
<a href="?mod=me&code=coupon" class="sh_t">我的{TUANGOU_STR}券</a>
<a href="?mod=me&code=order">我的订单</a>
<a href="?mod=me&code=order&comment=1">等待评价</a>
<a href="?mod=me&code=bill">收支明细</a>
<a href="?mod=me&code=favorite">我的收藏</a>
<a href="?mod=me&code=setting">账户设置</a>
<a href="?mod=me&code=address">收货地址</a>
<a href="?mod=recharge">账户充值</a>
<a href="?mod=me&code=rebate">我的返利</a>
<a href="?mod=me&code=credit">我的积分</a>
</div>
</div>
</div>
<!--{else}-->
<div class="user-info">
<div class="user-info__name">您好！欢迎您的到来。</div>
<div class="user-info__login">
<a href="?mod=account&code=login">登录</a>
<em>|</em>
</div>
<div class="user-info__signup">
<a href="?mod=account&code=register">注册</a>
</div>
</div>
<!--{/if}-->
</div>    
</div>
</div>
<!--{~ui('ad')->load('howdow')}-->
<div class="site-mast__branding">
<div class="site-logo"><a href="./"><img src="templates/default/images/logo.png" /></a></div>
<div class="city-info">
</div>
<div class="commitment"></div>
</div>
</div>
<div class="nav_bar">
<script type="text/javascript">
$(document).ready(function(){
$(".dropdown").mouseover(function(){$(".dropdown-menu").show();$(".dropdown").addClass("dropdown-open");});
$(".dropdown").mouseout(function(){$(".dropdown-menu").hide();$(".dropdown").removeClass("dropdown-open");});
$("#site-mast__ads1").css("background-position","center right");
});
</script>
<div class="site-mast__site-nav">    
{loop $this->Config['__navs'] $i $nav}
<a href="{$nav['url']}" title="{$nav['title']}" target="{$nav['target']}" class="{$nav['class']}"><span>{$nav['name']}</span></a>
{/loop}
</div>
</div>
<div class="wrap">
<!--{eval echo ui('loader')->css($this->Module.'.'.$this->Code)}-->
<script>
$(document).ready(function() {
$("#site-mast__site-cla-main-box").hide();
$(".site-mast__site-cla-main").mouseover(function() {  
$("#site-mast__site-cla-main-box").show();  
}).mouseout(function() {  
$("#site-mast__site-cla-main-box").hide();  
});  
})
</script>