
<ul class="guide_steps">
<li>
<h3 class="step1">查看本期团购</h3>
<p>我们每天推出一单精品消费，访问首页即可看到；也可以通过邮件订阅第二天的信息。</p>
</li>
<li>
<h3 class="step2">购买</h3>
<p> 对本期的团购有兴趣？只要点击购买按钮，按照提示步骤进行就OK！ <img style="margin-left:-9px;" src="templates/default/images/buy_guide.gif" width="290px;" height="200px;" /> </p>
<div class="bubble">
<div class="bubble_top">
<ol>
<li>团购到截止时间就结束了有的团购还有数量上限，先到先得！</li>
<li>团购人数还不够？邀请好友一起来买吧，还能获得返利哦（部分产品）。</li>
<li class="last">团购结束时还未达到最低人数要求，那团购就失败了，我们会立即全额退款。</li>
</ol>
</div>
<div class="bubble_bottom"></div>
</div>
</li>
<li>
<h3 class="step3">获取团购券和密码</h3>
<p> 团购成功后就可“我的团购”页面查看！<img style="margin-left:-9px;" src="templates/default/images/buy_yhq.png" /></p>
<div class="bubble">
<div class="bubble_top"> 获取团购券有两种方式:<br/><br/>
<ol>
<li><strong>手工记录</strong><br />
<p>记录好团购券和密码即可</p>
</li>
<li><strong>在线打印</strong>                       <p>打印团购券直接出示</p>
</li>
</ol>
</div>
<div class="bubble_bottom"></div>
</div>
</li>
<li>
<h3 class="step4">去商家消费</h3>
<p> 记录好团购券和密码，在有效期内去商家消费，并告知商家进行核对和消费！ </p>
</li>
</ul>