{eval
if (user()->get('id') != 1) return;
}
<div class="t_area_out">
<h1>管理提示</h1>
<div class="t_area_in">
<p><span class="R">提示：以下内容仅管理员可见！</span></p>
<ul>
<li style="list-style:inside decimal;">
<dl style=" display:inline; margin:0px; padding:0px;">
<dt style=" display:inline;margin:0px; padding:0px">所有页面右边的侧边栏都可以在后台控制，您可以根据自己的喜好和需求自由调整。</dt>
<dd>管理地址：后台 - 全局设置 - 侧边栏管理</dd>
<dd style=" display:inline; margin:0px; padding:0px">如果您已经登录后台，也可以<a href="admin.php?mod=widget" target="_blank">点击这里</a>直接管理</dd>
</dl>
</li>
<li style="list-style:inside decimal;">此提示信息可以在后台侧边栏管理里删除</li>
</ul>        
</div>
</div>