<div class="t_area_out ">
<h1>常见问题</h1>
<div class="t_area_in">
<h3 class="first">1.什么是邀请返利？</h3>
<p>将您的专属邀请链接发送给好友，好友通过此链接注册后即成为会员，您即成功邀请了好友。当好友在网站购物，您即能获得一定金额的返利。</p>
<h3>2.我邀请好友了，什么时候收到返利？</h3>
<p>返利会在好友每次消费或销售后返还到您的{conf site_name}帐户。</p>
<h3>3.哪些情况会导致邀请返利失效？</h3>
<ul class="invalid">
<li>好友点击邀请链接后超过 72 小时才购买</li>
<li>好友购买之前点击了其他人的邀请链接</li>
<li>您和好友相互邀请时，仅一人可以获返利</li>
<li>由于最终{TUANGOU_STR}人数没有达到人数下限，本次{TUANGOU_STR}取消</li>
</ul>
<h3>4.自己邀请自己也能获得返利吗？</h3>
<p>不可以，返利邀请仅适用于还未注册过的新用户。</p>
</div>
</div>